body {
  text-align: center; 
  font-family: Arial, sans-serif;
  background-color: #fffaf0; 
  margin: 0;
  padding: 0;
}

h1 {
  color: #b22222;
  margin-top: 30px;
}

img {
  display: block;
  margin: 20px auto; 
  width: 300px;      
  
}

h2 {
  color: #333;
}

ul {
  list-style-type: none; 
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #b22222;
  font-weight: bold;
}

a:hover {
  color: #ff6347;
}

 

