body {
  text-align: center; 
  font-family: Arial, sans-serif;
  background-color: #fffaf0; 
  margin: 0;
  padding: 0;
}


h1 {
  color: white; 
  background-color: purple; 
  font-size: 50px; 
  padding: 10px; 
  border-radius: 10px;
}


.caja {
  background-color: #ffffff;
  border: 2px solid purple;
  border-radius: 10px;
  width: 60%;
  margin: 20px auto;  
  padding: 20px;
}


a {
  color: orangered; 
  font-size: 22px; 
  text-decoration: none; 
  font-weight: bold;
}

a:hover {
  color: purple; 
}


footer {
  background-color: purple;
  color: white;
  padding: 10px;
  margin-top: 30px;
}


