h1{
color: white; 
background-color: purple; 
text-align: center; 
font-family: Arial; 
font-size: 60px; 
padding: 10px; 
border-radius: 10px;
}
#restaurante{

color: purple; 
font-size: 24px; 
text-decoration: none; 
font-family: Arial
}
a {
color: orangered; 
font-size: 24px; 
text-decoration: none; 
font-family: Arial;
}