
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
    padding: 25px;
}


h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
    line-height: 1.3;
}


.contenedor {
    display: flex;
    justify-content: center;
}

.caja {
    width: 780px;
    padding: 25px;
    border: 2px solid #000;
    background: white;
}


fieldset {
    border: 2px solid black;
    padding: 18px 20px;
    margin-bottom: 28px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
    font-size: 16px;
}

.gris {
    background-color: #d7d7d7;
}

.naranja {
    background-color: #f1c7a0;
}

.morado {
    background-color: #cda6a6;
}


.grupo {
    margin-bottom: 18px;
}

.subgrupo {
    margin: 14px 0;
    display: flex;
    align-items: center;
    gap: 12px;
}


label {
    font-size: 16px;
}


input[type="text"],
input[type="date"],
select {
    padding: 7px;
    font-size: 15px;
    border: 1px solid #555;
    background: white;
    width: 260px;
}

.campo-mini {
    width: 200px !important;
}


.subgrupo input[type="text"] {
    margin-left: auto;
}


input[type="checkbox"],
input[type="radio"] {
    transform: scale(1.2);
    margin-right: 8px;
}


fieldset label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}


.botonera {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 30px;
}

button {
    padding: 10px 30px;
    border: 2px solid #000;
    background: #e4e4e4;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
}

button:hover {
    background-color: #cfcfcf;
}


