
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #ffffff;
    padding: 20px;
}


h1 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}


.contenedor {
    display: flex;
    justify-content: center;
}


.caja {
    width: 750px;
    border: 2px solid black;
    padding: 20px;
    background: #ffffff;
}


fieldset {
    border: 2px solid #000;
    padding: 15px;
    margin-bottom: 20px;
}


legend {
    font-weight: bold;
    padding: 0 8px;
}


.gris {
    background-color: #c0c0c0; 
}

.naranja {
    background-color: #eab892; 
}

.morado {
    background-color: #b48b8b; 
}


.grupo {
    margin-bottom: 12px;
}

.subgrupo {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-size: 15px;
}


input[type="text"],
input[type="date"],
select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #555;
    width: 250px;
    background-color: #ffffff;
}


.campo-mini {
    width: 180px !important;
}

.botonera {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

button {
    padding: 8px 25px;
    font-size: 15px;
    border: 2px solid black;
    background-color: #e0e0e0;
    cursor: pointer;
}

button:hover {
    background-color: #cfcfcf;
}


